.download {
	padding: 35px 15px;
	background: linear-gradient(30deg, #4da1cd, #70c862);
	text-align: center;

	.container {

		@media #{$bp-from-laptop} {
			display: table;
		}
	}

	.download__column {

		@media #{$bp-from-laptop} {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
		}
	}

	.download__title {
		margin-top: 20px;
	}

	.download__stores {
		a {
			margin: 25px 10px 0 10px;
			height: 40px;
			display: inline-block;
		}

		img {
			height: 40px;
		}
	}

	.download__illustration {
		img {
			@media #{$bp-smartphone} {
				height: 130px;
			}

			@media #{$bp-tablet} {
				height: 200px;
			}
		}
	}

	.btn {
		margin-top: 20px;
	}
}
