.download {
	padding: 35px 15px;
	background: linear-gradient(30deg, #4da1cd, #70c862);
	text-align: center;

	.container {

		@media #{$bp-from-laptop} {
			display: table;
		}
	}

	.download__column {

		@media #{$bp-from-laptop} {
			display: table-cell;
			width: 50%;
		}
	}
}
