.btn {
	display: inline-block;
	padding: 0 20px;
	min-width: 200px;
	height: 40px;
	font-family: $font-stack-primary;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;

	&.btn--full {
		background-color: #FFF;
		color: $color-green;

		&:hover {
			color: #FFF;
			background-color: $color-green;
		}

		&.btn--accent {
			color: #FFF;
			background-color: $color-green;

			&:hover {
				background-color: #FFF;
				color: $color-green;
			}
		}
	}
}
