*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }

h2 {
  font-size: 22px; }

p,
.-p {
  font-size: 14px;
  color: #000;
  line-height: 24px; }

.utils__tc--green {
  color: #99cc00; }

.utils__bc--green {
  background-color: #99cc00; }

.utils__tc--red {
  color: #e80f42; }

.utils__bc--red {
  background-color: #e80f42; }

.utils__tc--cyan {
  color: #00a8e2; }

.utils__bc--cyan {
  background-color: #00a8e2; }

.utils__tc--white {
  color: #FFF; }

.utils__bc--white {
  background-color: #FFF; }

.utils__tc--black {
  color: #000; }

.utils__bc--black {
  background-color: #000; }

.utils__m--hg {
  margin: 30px; }

.utils__mt--hg {
  margin-top: 30px; }

.utils__mr--hg {
  margin-right: 30px; }

.utils__mb--hg {
  margin-bottom: 30px; }

.utils__ml--hg {
  margin-left: 30px; }

.utils__p--hg {
  padding: 30px; }

.utils__pt--hg {
  padding-top: 30px; }

.utils__pr--hg {
  padding-right: 30px; }

.utils__pb--hg {
  padding-bottom: 30px; }

.utils__pl--hg {
  padding-left: 30px; }

@media screen and (max-width: 767px) {
  .utils__m--hg-sm {
    margin: 30px; }
  .utils__mt--hg-sm {
    margin-top: 30px; }
  .utils__mr--hg-sm {
    margin-right: 30px; }
  .utils__mb--hg-sm {
    margin-bottom: 30px; }
  .utils__ml--hg-sm {
    margin-left: 30px; }
  .utils__p--hg-sm {
    padding: 30px; }
  .utils__pt--hg-sm {
    padding-top: 30px; }
  .utils__pr--hg-sm {
    padding-right: 30px; }
  .utils__pb--hg-sm {
    padding-bottom: 30px; }
  .utils__pl--hg-sm {
    padding-left: 30px; } }

.utils__m--lg {
  margin: 20px; }

.utils__mt--lg {
  margin-top: 20px; }

.utils__mr--lg {
  margin-right: 20px; }

.utils__mb--lg {
  margin-bottom: 20px; }

.utils__ml--lg {
  margin-left: 20px; }

.utils__p--lg {
  padding: 20px; }

.utils__pt--lg {
  padding-top: 20px; }

.utils__pr--lg {
  padding-right: 20px; }

.utils__pb--lg {
  padding-bottom: 20px; }

.utils__pl--lg {
  padding-left: 20px; }

@media screen and (max-width: 767px) {
  .utils__m--lg-sm {
    margin: 20px; }
  .utils__mt--lg-sm {
    margin-top: 20px; }
  .utils__mr--lg-sm {
    margin-right: 20px; }
  .utils__mb--lg-sm {
    margin-bottom: 20px; }
  .utils__ml--lg-sm {
    margin-left: 20px; }
  .utils__p--lg-sm {
    padding: 20px; }
  .utils__pt--lg-sm {
    padding-top: 20px; }
  .utils__pr--lg-sm {
    padding-right: 20px; }
  .utils__pb--lg-sm {
    padding-bottom: 20px; }
  .utils__pl--lg-sm {
    padding-left: 20px; } }

.utils__m--bg {
  margin: 15px; }

.utils__mt--bg {
  margin-top: 15px; }

.utils__mr--bg {
  margin-right: 15px; }

.utils__mb--bg {
  margin-bottom: 15px; }

.utils__ml--bg {
  margin-left: 15px; }

.utils__p--bg {
  padding: 15px; }

.utils__pt--bg {
  padding-top: 15px; }

.utils__pr--bg {
  padding-right: 15px; }

.utils__pb--bg {
  padding-bottom: 15px; }

.utils__pl--bg {
  padding-left: 15px; }

@media screen and (max-width: 767px) {
  .utils__m--bg-sm {
    margin: 15px; }
  .utils__mt--bg-sm {
    margin-top: 15px; }
  .utils__mr--bg-sm {
    margin-right: 15px; }
  .utils__mb--bg-sm {
    margin-bottom: 15px; }
  .utils__ml--bg-sm {
    margin-left: 15px; }
  .utils__p--bg-sm {
    padding: 15px; }
  .utils__pt--bg-sm {
    padding-top: 15px; }
  .utils__pr--bg-sm {
    padding-right: 15px; }
  .utils__pb--bg-sm {
    padding-bottom: 15px; }
  .utils__pl--bg-sm {
    padding-left: 15px; } }

.utils__m--md {
  margin: 10px; }

.utils__mt--md {
  margin-top: 10px; }

.utils__mr--md {
  margin-right: 10px; }

.utils__mb--md {
  margin-bottom: 10px; }

.utils__ml--md {
  margin-left: 10px; }

.utils__p--md {
  padding: 10px; }

.utils__pt--md {
  padding-top: 10px; }

.utils__pr--md {
  padding-right: 10px; }

.utils__pb--md {
  padding-bottom: 10px; }

.utils__pl--md {
  padding-left: 10px; }

@media screen and (max-width: 767px) {
  .utils__m--md-sm {
    margin: 10px; }
  .utils__mt--md-sm {
    margin-top: 10px; }
  .utils__mr--md-sm {
    margin-right: 10px; }
  .utils__mb--md-sm {
    margin-bottom: 10px; }
  .utils__ml--md-sm {
    margin-left: 10px; }
  .utils__p--md-sm {
    padding: 10px; }
  .utils__pt--md-sm {
    padding-top: 10px; }
  .utils__pr--md-sm {
    padding-right: 10px; }
  .utils__pb--md-sm {
    padding-bottom: 10px; }
  .utils__pl--md-sm {
    padding-left: 10px; } }

.utils__m--sm {
  margin: 5px; }

.utils__mt--sm {
  margin-top: 5px; }

.utils__mr--sm {
  margin-right: 5px; }

.utils__mb--sm {
  margin-bottom: 5px; }

.utils__ml--sm {
  margin-left: 5px; }

.utils__p--sm {
  padding: 5px; }

.utils__pt--sm {
  padding-top: 5px; }

.utils__pr--sm {
  padding-right: 5px; }

.utils__pb--sm {
  padding-bottom: 5px; }

.utils__pl--sm {
  padding-left: 5px; }

@media screen and (max-width: 767px) {
  .utils__m--sm-sm {
    margin: 5px; }
  .utils__mt--sm-sm {
    margin-top: 5px; }
  .utils__mr--sm-sm {
    margin-right: 5px; }
  .utils__mb--sm-sm {
    margin-bottom: 5px; }
  .utils__ml--sm-sm {
    margin-left: 5px; }
  .utils__p--sm-sm {
    padding: 5px; }
  .utils__pt--sm-sm {
    padding-top: 5px; }
  .utils__pr--sm-sm {
    padding-right: 5px; }
  .utils__pb--sm-sm {
    padding-bottom: 5px; }
  .utils__pl--sm-sm {
    padding-left: 5px; } }

.utils__bold {
  font-weight: 700; }

.utils__black {
  font-weight: 900; }

@media screen and (min-width: 768px) {
  .utils__show--xs {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .utils__hide--xs {
    display: none !important; } }

@media screen and (min-width: 1024px) {
  .utils__hide--from-md {
    display: none !important; } }

@media screen and (max-width: 1279px) {
  .utils__hide--to-bg {
    display: none !important; } }

@media screen and (min-width: 1280px) {
  .utils__hide--bg {
    display: none !important; } }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  height: 75px;
  color: #FFF;
  background-color: #000;
  z-index: 5; }
  @media screen and (min-width: 1280px) {
    .main-nav {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 15px 40px; } }
  .main-nav .nav__logo {
    position: absolute;
    top: 20px;
    left: 20px; }
    @media screen and (min-width: 1280px) {
      .main-nav .nav__logo {
        top: 15px;
        left: 40px; } }
    @media screen and (max-width: 767px) {
      .main-nav .nav__logo img {
        height: 35px; } }
  .main-nav .nav__trigger {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    width: 40px;
    height: 75px;
    font-size: 36px;
    line-height: 75px;
    text-align: center;
    cursor: pointer; }
    @media screen and (min-width: 1280px) {
      .main-nav .nav__trigger {
        display: none; } }
  .main-nav .nav__menu {
    position: relative; }
    @media screen and (max-width: 1279px) {
      .main-nav .nav__menu {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: #000; }
        .main-nav .nav__menu:not(.nav__menu--show) {
          display: none; } }
    @media screen and (min-width: 1280px) {
      .main-nav .nav__menu {
        display: -webkit-flex;
        display: flex; } }
  @media screen and (max-width: 1279px) {
    .main-nav .nav__links {
      -webkit-flex-grow: 10;
      flex-grow: 10; } }
  @media screen and (min-width: 1280px) {
    .main-nav .nav__links {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; } }
  .main-nav .nav__links a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700; }
    @media screen and (max-width: 1279px) {
      .main-nav .nav__links a {
        padding: 5px 10px; } }
    @media screen and (min-width: 1280px) {
      .main-nav .nav__links a {
        margin: 0 15px; } }
    @media screen and (min-width: 1460px) {
      .main-nav .nav__links a {
        margin: 0 30px; } }
    .main-nav .nav__links a.nav__active, .main-nav .nav__links a:hover {
      color: #99cc00; }
    @media screen and (max-width: 1279px) {
      .main-nav .nav__links a.nav__active {
        margin-bottom: 40px; } }
  @media screen and (min-width: 1280px) {
    .main-nav .nav__links.nav__links--dropdown {
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: stretch;
      align-items: stretch;
      position: absolute;
      top: 50px;
      right: 200px;
      padding: 10px 0;
      background-color: #FFF;
      border-top: 4px solid #eee;
      opacity: 0;
      transform: translateX(50px);
      visibility: hidden;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out; }
      .main-nav .nav__links.nav__links--dropdown:before {
        content: '';
        position: absolute;
        top: -40px;
        height: 40px;
        left: 0;
        right: 0; }
      .main-nav .nav__links.nav__links--dropdown:hover, .main-nav .nav__links.nav__links--dropdown.nav__links--hover {
        opacity: 1;
        transform: translateX(0);
        visibility: visible; }
      .main-nav .nav__links.nav__links--dropdown a {
        display: block;
        padding: 10px 20px;
        margin: 0;
        color: #2c292a; }
        .main-nav .nav__links.nav__links--dropdown a:hover {
          color: #FFF;
          background-color: #99cc00; } }
  .main-nav .nav__sub {
    display: block;
    font-size: 8px; }
  @media screen and (max-width: 1279px) {
    .main-nav .nav__actions {
      padding: 35px; } }
  @media screen and (min-width: 1280px) {
    .main-nav .nav__actions {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; } }
  .main-nav .nav__back {
    display: inline-block;
    margin-bottom: 15px;
    color: #4d4d4d;
    font-size: 14px;
    cursor: pointer; }

.main-header {
  position: relative;
  background-color: #000; }
  @media screen and (max-width: 767px) {
    .main-header {
      padding-bottom: 25px; } }
  .main-header .header__hero {
    position: relative;
    height: 117.5vw;
    background: url("../images/header-bg-mobile.jpg") no-repeat center top;
    background-size: cover;
    text-align: center; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__hero {
        height: 53vw;
        background-image: url("../images/header-bg-tablet.jpg"); } }
    @media screen and (min-width: 1024px) {
      .main-header .header__hero {
        height: 57.6vw;
        background-image: url("../images/header-bg-desktop.jpg"); } }
    .main-header .header__hero:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33vw;
      background: linear-gradient(to top, black, transparent);
      z-index: 1; }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .main-header .header__hero:before {
          height: 9vw; } }
      @media screen and (min-width: 1024px) {
        .main-header .header__hero:before {
          height: 20vw; } }
  .main-header .header__title {
    display: inline-block;
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 11vw;
    color: #FFF;
    text-shadow: 0 0 8px #000;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .main-header .header__title {
        margin-top: 30vw; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__title {
        top: 24vw;
        font-size: 7vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__title {
        top: 15vw;
        font-size: 5.8vw; } }
  .main-header .header__title-top,
  .main-header .header__title-bottom {
    position: absolute;
    left: 8vw;
    font-size: 4vw;
    white-space: nowrap; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__title-top,
      .main-header .header__title-bottom {
        left: 5.090909vw;
        font-size: 2.545454vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__title-top,
      .main-header .header__title-bottom {
        left: 4.2181818vw;
        font-size: 2.1090909vw; } }
  .main-header .header__title-top {
    top: -1.1vw; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__title-top {
        top: -0.7vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__title-top {
        top: -0.58vw; } }
  .main-header .header__title-bottom {
    bottom: -4vw; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__title-bottom {
        bottom: -2.545454vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__title-bottom {
        bottom: -2.1090909vw; } }
  .main-header .header__actions {
    text-align: center;
    z-index: 2; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__actions {
        position: relative;
        margin-top: -6vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__actions {
        position: absolute;
        left: 0;
        right: 0;
        top: 35vw; } }
    .main-header .header__actions p {
      font-size: 16px;
      color: #FFF; }
    .main-header .header__actions .btn {
      margin: 10px 10px 0 10px; }
  .main-header .header__featuring {
    position: absolute;
    z-index: 2; }
    @media screen and (max-width: 767px) {
      .main-header .header__featuring {
        bottom: 20px; } }
    @media screen and (min-width: 768px) {
      .main-header .header__featuring {
        top: 11.5vw;
        width: 25vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__featuring {
        top: 44vw; } }
    .main-header .header__featuring.header__featuring--left {
      left: 20px; }
      @media screen and (max-width: 767px) {
        .main-header .header__featuring.header__featuring--left {
          text-align: left; } }
    .main-header .header__featuring.header__featuring--right {
      right: 20px; }
      @media screen and (max-width: 767px) {
        .main-header .header__featuring.header__featuring--right {
          text-align: right; } }
    .main-header .header__featuring p {
      line-height: 1;
      color: #FFF; }
      .main-header .header__featuring p:first-child {
        font-weight: 300;
        font-size: 14px; }
        @media screen and (min-width: 1024px) {
          .main-header .header__featuring p:first-child {
            margin-bottom: 0.3vw;
            font-size: 1.3vw; } }
      .main-header .header__featuring p:last-child {
        font-size: 18px;
        font-weight: 900; }
        @media screen and (min-width: 1024px) {
          .main-header .header__featuring p:last-child {
            font-size: 1.8vw; } }
  .main-header .header__sponsors {
    padding: 0 40px; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .header__sponsors {
        padding-bottom: 35px; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__sponsors {
        position: absolute;
        left: 0;
        right: 0;
        top: 45vw;
        z-index: 2; } }
    .main-header .header__sponsors:before, .main-header .header__sponsors:after {
      content: "";
      display: table; }
    .main-header .header__sponsors:after {
      clear: both; }
    @media screen and (min-width: 768px) {
      .main-header .header__sponsors {
        text-align: center; } }
    @media screen and (max-width: 767px) {
      .main-header .header__sponsors a {
        width: 50%;
        float: left; } }
    @media screen and (min-width: 768px) {
      .main-header .header__sponsors a {
        display: inline-block;
        margin: 3.8vw 3vw 0; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__sponsors a {
        margin: 0 0.8vw; } }
    @media screen and (min-width: 768px) {
      .main-header .header__sponsors img {
        height: 5vw; } }
    @media screen and (min-width: 1024px) {
      .main-header .header__sponsors img {
        height: 1.8vw; } }

.fow {
  padding: 35px 15px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .fow {
      padding: 35px; } }
  .fow .fow__container {
    margin: 0 auto;
    max-width: 700px; }
  .fow .fow__highlights {
    margin-bottom: 70px; }
    @media screen and (max-width: 1023px) {
      .fow .fow__highlights {
        display: none; } }
    .fow .fow__highlights li {
      display: inline-block;
      margin: 0 15px; }
  .fow .fow__highlight-icon {
    font-size: 40px;
    color: #d1d1d1; }
  .fow .fow__actions {
    margin-top: 20px; }
    @media screen and (min-width: 1024px) {
      .fow .fow__actions {
        margin-top: 50px; } }
    .fow .fow__actions > .btn {
      margin: 20px 10px 0 10px; }

.download {
  padding: 35px 15px;
  background: linear-gradient(30deg, #4da1cd, #70c862);
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .download .container {
      display: table; } }
  @media screen and (min-width: 1024px) {
    .download .download__column {
      display: table-cell;
      width: 50%; } }

.container {
  margin: 0 auto;
  max-width: 1300px; }

.btn {
  display: inline-block;
  padding: 0 20px;
  min-width: 200px;
  height: 40px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background-color: #FFF;
  color: #99cc00; }
  .btn:hover {
    color: #FFF;
    background-color: #99cc00; }
  .btn.btn--accent {
    color: #FFF;
    background-color: #99cc00; }
    .btn.btn--accent:hover {
      background-color: #FFF;
      color: #99cc00; }
  .btn.btn--outline {
    border: 1px solid transparent; }
    .btn.btn--outline:hover {
      background-color: transparent;
      color: #FFF;
      border-color: #FFF; }
    .btn.btn--outline.btn--accent:hover {
      color: #99cc00;
      border-color: #99cc00; }

.tooltip {
  position: relative; }
  .tooltip .tooltip__container {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    transform: scale(0.5);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 0; }
  .tooltip .tooltip__content {
    position: relative;
    padding: 5px 10px;
    color: #666;
    background-color: #EEE; }
    .tooltip .tooltip__content:before {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 50%;
      margin-left: -8px;
      border-style: solid;
      border-width: 8px;
      border-color: #EEE transparent transparent transparent; }
  .tooltip:hover .tooltip__container {
    transform: scale(1);
    opacity: 1; }
